# Dependencias
node_modules/

# Variables de entorno y credenciales sensibles
.env
.env.local
.env.development
.env.production

# Archivos de autenticación o caché de sesiones locales
.wwebjs_auth/
.wwebjs_cache/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
*.log